<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>iParty - Travel</title>
  <link id="globalheader-stylesheet" rel="stylesheet" href="/assets/navigation.css" type="text/css">
  <link rel="stylesheet" href="/assets/main.css" type="text/css">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-63389-11']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCBI4Q_YJoYHTPw2_1P4FghACxQt4Wsp5w&sensor=false"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/assets/gmaps.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/globalnav.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://www.parsecdn.com/js/parse-1.0.2.min.js"></script>
  <script>
    $(function(){
      AC.GlobalNav.Instance = new AC.GlobalNav();
    });
  </script>
</head>
<body id="{{ page.body_id }}">
  <nav id="globalheader" class="gn-last">
    <ul id="globalnav" class="nosearch" role="navigation">
      <li id="gn-apple"><a href="index"><span>KiMiwa</span></a></li>
      <li id="gn-store"><a href="iparty"><span>iParty</span></a></li>
      <li id="gn-iphone"><a href="rsvp"><span>RSVP</span></a></li>
      <li id="gn-mac"><a href="travel"><span>Travel</span></a></li>
      <li id="gn-ipod"><a href="sightseeing"><span>Sightseeing</span></a></li>
    </ul>
  </nav>
<!-- /head.html -->

