/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Apple */
body { font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; background-color: transparent; color: #333; -webkit-font-smoothing: antialiased; }
a { color: #08C; text-decoration: none; }
a:hover { text-decoration: underline; }
h2 { font-size: 1.7142em; font-weight: normal; line-height: 1.1666em; }
h3 { font-size: 1.4142em; font-weight: normal; line-height: 1; }
p, dl, ul, ol { font-size: 1.167em; line-height: 1.4285em; color: #333; word-spacing: -1px; }

/* Common */
article { width: 980px; margin: 0 auto; padding: 10px 20px; }

/* Index */
#cover_art { width: 400px; margin: 40px auto; }
#cover_art a { border-width: 0; }

/* iParty */
#hello { margin: 40px auto 100px auto; display: block; }
#map_canvas { width: 400px; height: 300px; }

/* RSVP */
#rsvp iframe { width: 200px; margin-left: 370px; border: 0px solid red; }
